@{
    ViewBag.Title = "Setting";
}

<div class="content-wrapper">
    <div class="k-block">
        <div class="k-header k-info-colored">
            <span class="setting-title">Extra Data Setting</span>
            <img class="setting-icon" src="@Url.Content("~/Images/settings-3.png")" alt="setting icon" />
        </div>
        <div class="k-block">
            @using (Html.BeginForm())
            {
                <span class="k-label">CDCDate:</span>
                @(Html.Kendo().DatePicker()
                          .Name("CDCDate") //The name of the datepicker is the same as parameters of the view
                          .Value(ViewBag.CDCDate) //Set the value of the datepicker
                )
                <p>
                    @(Html.Kendo().Button().Name("iconButton")
                                               .HtmlAttributes( new {type = "submit"} )
                                               .SpriteCssClass("k-icon k-i-refresh")
                                               .Content("Save")
                          )
                        
                </p>
                          
            }

        </div>
     </div>
</div>
