<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDU Preview</title>
</head>
<body>
    <div>

        <object type="application/x-shockwave-flash" data="../../PDURunTime/pduv4475/webshow/pdu/Main.swf"
                id="applicationID" style="margin: 0 10px; width: 100%; height: 100%;"
			    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab">

           <param name="movie" value="../../PDURunTime/pduv4475/webshow/pdu/Main.swf" />
            <param name="wmode" value="transparent" />
            <!-- Or opaque, etc. -->

            <!-- ? Required paramter or not, depends on application -->
            <param name="FlashVars" value="" />

            <param name="quality" value="high" />
            <param name="menu" value="false" />
			<param name="base" VALUE="../../PDURunTime/pduv4475/webshow/pdu">

        </object>
    </div>
</body>
</html>